@font-face {
  font-family: NotoSans;
  src: url(./Fonts/NotoSansDisplay-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(./Fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Ubuntu;
  src: url(./Fonts/Ubuntu-Regular.ttf);
}

body {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 60px 820px 40px;
  grid-gap: 5px;
  min-width: 1310px;
  max-width: 1519px;
  background-color: rgb(172, 172, 172);
}

#Head {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: rgb(22, 22, 22);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#logo {
  display: inline;
  float: left;
  width: 400px;
  height: 50px;
  margin-top: 7px;
}

#Title {
  display: inline;
  text-align: center;
  /*margin-left: 240px;*/
  margin-left: 25%;
  position: relative;
  top: 10px;
  font-family: Ubuntu;
  color: white;
}

#navbar {
  margin-top: 20%;
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: rgb(172, 172, 172);
}

.navItem {
  padding: 15px;
  height: 30px;
  list-style-type: none;
  height: min-content;
}
.navItem:hover {
  background-color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
a {
  color: white;
  text-decoration: none;
  font-family: Ubuntu;
}

a:hover {
  background-color: black;
  text-decoration: underline aqua;
  color: rgb(188, 247, 239);
}

a:active {
  color: grey;
}

li:hover {
  cursor: pointer;
  text-decoration: underline aqua;
}

#agesContainer {
  grid-column: 2/3;
  grid-row: 2/3;
  grid-gap: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: rgb(172, 172, 172);
  min-width: 125px;
  border-radius: 10px;
}

#the60s {
  grid-row: 1/2;
  background-image: url(./Images/60s.jpg);
  background-size: 100% 190%;
  background-position-y: -70px;
  opacity: 0.8;
  min-width: 125px;
  border-radius: 10px;
}

#the70s {
  grid-row: 2/3;
  background-image: url(./Images/70s.jpg);
  background-size: 100% 290%;
  background-position-y: -250px;
  opacity: 0.8;
  border-radius: 10px;
}
#the80s {
  grid-row: 3/4;
  background-image: url(./Images/80s.jpg);
  background-size: 100% 190%;
  opacity: 0.8;
  border-radius: 10px;
}
#the90s {
  grid-row: 4/5;
  background-image: url(./Images/90s.jpg);
  background-size: 100% 190%;
  background-position-y: -150px;
  opacity: 0.8;
  border-radius: 10px;
}
#the00s {
  grid-row: 5/6;
  background-image: url(./Images/000s.jpg);
  background-size: 100% 190%;
  opacity: 0.8;
  border-radius: 10px;
}
#Foot {
  grid-column: 1/3;
  background-color: rgb(22, 22, 22);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

h3 {
  font-family: NotoSans;
  font-size: 3em;
  text-align: center;
  color: rgb(255, 254, 254);
  margin: 2px;
}

#the60s:hover {
  opacity: 1;
}
#the70s:hover {
  opacity: 1;
}
#the80s:hover {
  opacity: 1;
}
#the90s:hover {
  opacity: 1;
}
#the00s:hover {
  opacity: 1;
}

.theAgesDiv {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.agesP {
  margin: 10px 70px 10px 70px;
  text-align: center;
  font-size: 1em;
  color: rgb(188, 247, 239);
  border-radius: 10px;
  font-family: Ubuntu;
  cursor: default;
}

#footerP {
  text-align: center;
  color: white;
  font-family: Ubuntu;
  margin-top: 10px;
}
