@font-face {
  font-family: Roboto;
  src: url(./Fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Ubuntu;
  src: url(./Fonts/Ubuntu-Regular.ttf);
}

html,
body {
  height: 100%;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}
body {
  display: grid;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  padding: 0;
}
html,
body {
  height: 100%;
}
.topLinks ul,
li {
  display: inline;
  list-style: none;
}
#container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "head head"
    "verticalmenu history"
    "verticalmenu foot";

  grid-template-rows: 83px 90% 3%;
  grid-template-columns: 15% 85%;
}

#head {
  grid-area: head;
  background-color: black;
  top: 0;
  width: 100%;
  min-width: 820px;
}

.verticalmenu {
  grid-area: verticalmenu;
  background-color: rgb(226, 226, 226);
}
#history {
  grid-area: history;
  background-color: white;
  grid-column: 2/2;
  margin-right: 20%;
}

#author {
  grid-area: foot;
  background-color: black;
  height: 5%;
}

#logo {
  display: inline;
  float: left;
  width: 400px;
  height: 50px;
  margin-top: 17px;
}
.topmenu {
  position: relative;
  left: 50px;
  top: 15px;
}
.topmenu a {
  color: white;
  display: inline;
  padding: 35px;
  text-decoration: none;
  font-family: Verdana;
  font-size: 0.75em;
  padding-bottom: auto;
}
.topmenu a:hover {
  background-color: rgb(48, 194, 223);
  padding-bottom: auto;
}

.verticalmenu a {
  width: auto;
  background-color: rgb(226, 226, 226);
  color: black;
  display: block;
  padding: 15px;
  text-decoration: none;
  font-family: Verdana;
  font-size: 0.92em;
  padding-left: 8px;
  max-width: 215px;
}

.verticalmenu a:hover {
  background-color: rgb(172, 172, 172);
  max-width: 100%;
}
#title {
  font-size: 2em;
  padding: 20px;
  text-align: justify;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: Verdana;
  padding-left: 30px;
}
#image {
  display: inline;
  width: 70%;
  float: right;
  padding: 10px;
  position: relative;
  bottom: 25px;
}

#text {
  font-size: 1em;
  text-align: justify;
  display: block;
  margin-right: 100px;
  margin-top: -40px;
  padding: 30px;
  font-family: Verdana;
  position: relative;
  bottom: 0;
  width: 100%;
}
#references {
  font-size: 0.7em;
  position: relative;
  bottom: 0px;
  text-align: left;
  font-family: Verdana;
  padding-bottom: 25px;
}
#author {
  font-size: 2vh;
  color: white;
  text-align: center;
  font-family: Verdana;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
