@font-face {
  font-family: NotoSans;
  src: url(./Fonts/NotoSansDisplay-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(./Fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Ubuntu;
  src: url(./Fonts/Ubuntu-Regular.ttf);
}
li:hover {
  cursor: pointer;
  text-decoration: underline aqua;
}

body {
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 60px 820px 40px;
  grid-gap: 5px;
  min-width: 1310px;
  max-width: 1519px;
  background-color: rgb(0, 156, 127);
  background-image: url(./Images/bcgIndex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#Head {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  border-radius: 50px;
  background-color: rgba(22, 22, 22, 0.1);
}

#logo {
  width: 400px;
  height: 50px;
  margin-left: 30%;
  margin-top: 7px;
}

#navbar {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.navItem {
  padding: 15px;
  height: 30px;
  list-style-type: none;
  height: min-content;
}
.navItem:hover {
  background: rgb(0, 85, 74);
  background: linear-gradient(
    90deg,
    rgba(0, 85, 74, 0.7) 35%,
    rgba(30, 224, 219, 0.8) 100%
  );
  border-radius: 10px;
}
a {
  color: white;
  text-decoration: none;
  font-family: Ubuntu;
}

a:hover {
  text-decoration: underline aqua;
  color: rgb(188, 247, 239);
}

a:active {
  color: rgb(30, 224, 219);
}

#Foot {
  grid-column: 1/3;
  background-color: rgba(22, 22, 22, 0.2);
  border-radius: 50px;
}

.pagesTitle {
  font-family: NotoSans;
  text-align: center;
  color: rgb(255, 254, 254);
  margin: 20px 8px;
}

#contentContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 49% 49%;
  grid-gap: 5px;
}

.pagesArticle {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: 20% 80%;
}

.pagesArticle:hover {
  border-radius: 10px;
  background: rgb(0, 85, 74);
  background: radial-gradient(
    circle,
    rgba(0, 85, 74, 0.2) 35%,
    rgba(30, 224, 219, 0.2) 100%
  );
  cursor: pointer;
}

.pageDescription {
  text-align: center;
  margin: 10px 20px;
  height: 150px;
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

#footerP {
  text-align: center;
  color: white;
  font-family: Ubuntu;
  margin-top: 10px;
}
