body {
  display: grid;
}

#container {
  display: grid;
  width: 100%;

  grid-gap: 10px;
  grid-template-rows: 70px 1fr 50px;
  grid-template-columns: 150px 1fr 150px;
}

#head {
  background: linear-gradient(to bottom, rgb(0, 0, 0) 30%, #afadad 100%);
  grid-row: 1/1;
  grid-column: 1/5;
}

#logo {
  width: 300px;
  height: 70px;
}

#Name {
  display: inline;
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: xx-large;
  padding-left: 200px;
  top: -20px;
}

#navbar {
  grid-row: 2/3;
}

#list {
  list-style: none;
  padding-left: 40px;
  padding-inline-start: 0px;
  border-style: solid;
  border-color: deepskyblue;
  background-color: black;
}

.links {
  margin-bottom: 20px;
  padding: 15px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: deepskyblue;
}

#info {
  padding-top: 10px;
  padding-bottom: 50px;
  grid-column: 2/3;
  font-size: 18px;
}

p {
  font-family: Verdana;
}

#internet {
  display: block;
  margin: auto;
  padding-top: 30px;
  width: 600px;
  height: 300px;
}

#WWW {
  display: block;
  width: 600px;
  height: 300px;
  margin: auto;
  padding: 30px;
}

#foot {
  background: linear-gradient(to top, rgb(0, 0, 0) 30%, #afadad 100%);
  color: white;
  grid-row: 3/3;
  grid-column: 1/3;
  text-align: center;
  font-size: 20px;
}
#footP {
  margin-top: 10px;
  height: 40px;
}
